.livePopup {
  border: 1px solid var(--accent-color);
  background-color: var(--background-color);
  color: #fff;
  position: absolute;
  left: 16px;
  top: 16px;
  max-width: 400px;
  max-height: 200px;
  transition: left 0.5s ease-in-out, top 0.2s ease-in-out;
  border-radius: 2rem;
  z-index: 999;
  overflow: hidden;

  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.75);
}

.livePopup:hover {
  top: 20px;
}

.livePopupHidden {
  left: -400px;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.content {
  padding: 16px;
  position: relative;
  z-index: 1;
}

.stream {
  display: flex;
  align-items: stretch;
}

.gameThumbnail {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.streamInfo {
  flex: 3;
  padding-left: 1rem;
}

.streamGame {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}

.streamTitle {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.streamViewers {
  font-size: 0.7rem;
}

@media only screen and (max-width: 750px) {
  .livePopup {
    top: 16px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: top 0.5s ease-in-out;
    left: 0;
    right: 0;
  }

  .livePopup:hover {
    top: 16px;
  }

  .livePopupHidden {
    top: -400px;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    padding: 8px;
    /* align-items: stretch; */
    flex-direction: row-reverse;
  }

  .stream {
    display: flex;
    align-items: stretch;
    min-width: 50px;
    width: 30%;
    /* flex: 1; */
  }

  .gameThumbnail {
    width: 100%;
    min-height: 50px;
  }

  .streamInfo {
    display: none;
  }
}

.backdrop,
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.backdrop {
  backdrop-filter: blur(3px) brightness(40%);
}

.background {
  background-size: cover;
  background-position: center;
}