.socialButton {
  position: relative;
  color: #fff;
  transition: color 0.2s ease, top 0.4s;
  top: 0;
  padding: 1rem;
}

.socialButton:hover {
  color: var(--accent-color);
  top: 4px;
}

.socialButton:hover .imageIcon {
  background: var(--accent-color);
}

.socialButtonHighlight {
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.socialIcon {
  margin-bottom: 1rem;
}


.socialName {
  text-align: center;
}

@keyframes bounce {

  0%,
  5%,
  12%,
  20%,
  100% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-30px);
  }

  15% {
    transform: translateY(-15px);
  }
}