.videoContainer {
  width: 25%;
  max-width: 300px;
  min-width: 150px;
  transition: top 0.2s ease;
  top: 0px;
  color: white;
  margin: 32px;
  position: relative;
}

@media only screen and (max-width: 750px) {
  .videoContainer {
    width: 100%;
    max-width: 450px;
  }
}

.videoContainer:hover {
  top: 2px;
}

.videoIcon {
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  aspect-ratio: 16 / 9;
  position: relative;
}

.duration {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 0.5rem;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  padding-top: 0.5rem;
}