.starField {
  background: transparent;
  width: var(--size);
  height: var(--size);
  animation: animStar var(--duration) linear infinite;
  box-shadow: var(--box-shadow);
}

@keyframes animStar {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(calc(-1 * var(--page-width)));
  }
}