body {
  --accent-color: #a471cc;
  --background-color: #282b33;

  margin: 0;
  background-color: var(--background-color);
  color: #ffffff;

}

body,
body * {
  font-family: sans-serif;

}

.layout {
  padding: 32px;
}

a {
  text-decoration: none;
}