/* .imageIcon {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-position: center;
  background-blend-mode: overlay;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
} */
.imageIcon {
  width: 70px;
  height: 75px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  background: white;
  transition: background 0.2s ease;
}

.imageIcon:hover {
  background: var(--accent-color);
}

.minecraft {
  -webkit-mask-image: url("../../images/minecraft-icon.png");
  mask-image: url("../../images/minecraft-icon.png");
}